.hero-header {
  font-weight: 500;
  font-family: sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  margin: 0;
  color: $wheat;
  @include mq(200px) {
    font-size: 2rem;
  }
  @include mq(597px) {
    font-size: 4rem;
  }
  @include mq(869px) {
    font-size: 6rem;
  }
}
.hero-caption {
  margin: 0;

  font-size: 13px;
  text-align: center;
  color: $wheat;
  opacity: 0.6;

  @include mq(200px) {
    margin-top: 0;
    width: 100%;
  }
  @include mq(597px) {
    width: 80%;
  }
  @include mq(869px) {
    margin-top: -20px;
    width: 50%;
  }
}
.icon {
  color: $wheat;
  opacity: 0.8;
  transition: all;
  transition-duration: 0.5s;
  :hover {
    transform: scale(1.1);
    transition: all;
    transition-duration: 0.5s;
  }
}
.home-service {
  margin: 4rem 0;
  .label {
    font-size: 13px;
    font-weight: bolder;
    text-shadow: 20px;
    color: $wheat-transparent;
  }
  .name {
    margin: 8px 0;
    text-transform: uppercase;
    font-family: sans-serif;
    color: $wheat;
    background-color: transparent;
  }
  .desc {
    font-size: 13px;
    font-weight: lighter;
    color: $wheat-transparent;
    background-color: transparent;
  }
}
.item {
  background-color: rgba(107, 104, 97, 0.115);
  border: 1px solid rgba(255, 225, 155, 0.115);
  height: fit-content;
  width: 100%;
  transition: all;
  transition-duration: 0.5s;
  padding: 20px;
}
.img-container{
  width: fit-content;
}

.grid-container {
  @include mq(200px) {
    display: block;
  }
  @include mq(869px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  gap: 20px;
}
