.hero-header {
  margin: 0;
  color: $wheat;
  font-weight: 500;
  user-select: none;
  -moz-user-select: none;
  font-family: sans-serif;
  -webkit-user-select: none;
  @include mq(200px) {
    font-size: 2rem;
  }
  @include mq(597px) {
    font-size: 4rem;
  }
  @include mq(869px) {
    font-size: 6rem;
  }
}
.hero-caption {
  margin: 0;
  opacity: 0.6;
  color: $wheat;
  font-size: 13px;
  text-align: center;

  @include mq(200px) {
    margin-top: 0;
    width: 100%;
  }
  @include mq(597px) {
    width: 80%;
  }
  @include mq(869px) {
    margin-top: -20px;
    width: 50%;
  }
}
.icon {
  opacity: 0.8;
  color: $wheat;
  transition: all;
  transition-duration: 0.5s;
  :hover {
    transition: all;
    transform: scale(1.1);
    transition-duration: 0.5s;
  }
}
.home-service {
  margin: 4rem 0;
  .label {
    font-size: 13px;
    text-shadow: 20px;
    font-weight: bolder;
    color: $wheat-transparent;
  }
  .name {
    color: $wheat;
    margin: 8px 0;
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: transparent;
  }
  .desc {
    font-size: 13px;
    font-weight: lighter;
    color: $wheat-transparent;
    background-color: transparent;
  }
}
.item {
  width: 100%;
  padding: 20px;
  transition: all;
  height: fit-content;
  transition-duration: 0.5s;
  background-color: rgba(107, 104, 97, 0.115);
  border: 1px solid rgba(255, 225, 155, 0.115);
}
.img-container {
  width: fit-content;
}

.grid-container {
  @include mq(200px) {
    display: block;
  }
  @include mq(869px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  gap: 20px;
}
.projects-title {
  color: $wheat;
  font-weight: 300;
  @include mq(200px) {
    font-size: 20px;
  }
  @include mq(869px) {
    font-size: 25px;
  }
  span {
    font-family: "Lovers Quarrel", cursive;
  }
}
.steps {
  margin-top: 10rem;
  .steps--text-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    :nth-child(1):not(span) {
      font-size: 11px;
      color: $wheat-transparent;
      text-transform: uppercase;
    }
    :nth-child(2) {
      width: 40%;
      color: $wheat;
      font-size: 60px;
      font-weight: 300;
      margin-top: 20px;
      line-height: 60px;
      text-align: center;
      margin-bottom: 10px;
      span {
        font-family: "Lovers Quarrel", cursive;
      }
    }
    :nth-child(3) {
      width: 50%;
      font-size: 12px;
      text-align: center;
      color: $wheat-transparent;
    }
  }
}

