$bg: #0E0E0E;
$wheat: #DAC5A7;
$wheat-transparent: #dac5a791; //transparent 60%
$track: #dac5a75d; 

$gradient: to right top, #321f38, #7c32a7, #6a0dd4, #3f47c2, #6452b6;
$button-primary: #62ba9b;
$button-secondary: #321f38;
$white: #fff;
$black: #0E0E0E;

body{
    background-color: $bg;
    color: $white;
}