$bg: #0E0E0E;
$wheat: #DAC5A7;
$track: #dac5a737; 
$footer: #1f1f1f6d;
$bg-blend: #dac5a70f; //transparent 10%
$wheat-transparent: #dac5a791; // 40%
$white: #fff;
$black: #000;

body{
    background-color: $bg;
    color: $white;
}