body{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.txt_xl{
   font-size: 80px;
   font-weight: 700;
}

.txt_lg{
   font-size: 60px;
   font-weight: 600;
}

.txt_md{
   font-size: 30px;
   font-weight: 600;
}

.txt_sm{
   font-size: 20px;
}

.txt_xs{
   font-size: 17px;
}

.txt_p{
   font-size: 16px;
}